/* critical css o critical path */
/* Selectores combinados
DESCENDENTE:
body .title { este selecetor es especifico, lo que este dentro
  de body que tenga la clase title, tendra los estilos
}

HIJO DIRECTO:
body > .title { como indica el nombre
  afecta a los elementos que sean hijos de body y
  tengan la clase title
}
HERMANO :
h1 ~ h2 {
  se aplican estilos a los h2 que son hermanos del h1
  no al h1
}
ADYACENTE:
h1 + h2 {
  Hace lo mismo q el hermano, pero con el elemento mas proximo

}

*/
/* body {
   FLOW Layout

  writing-mode: horizontal-tb;  horizontal de arriba hacia abajo
  direction: ltr;  izquierda a derecha

} */
:root
{
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}
body
{
 color: var(--gray30);

}

a
{
  color:var(--gray30);
}

h1
{
  font-size: 60px;
}
header
{
  /* --gray10: red; */
  font-size:14px ;
  color: var(--gray10);
}
header a
{
  color: var(--gray10);
  text-decoration: none;
}
header a:hover
{
  color: var(--gray);
}
nav details summary
{
  font-weight: bold;
}

nav details summary:hover
{
  cursor: pointer;
}

h2
{
  font-size: 2em;
}

h3
{
  font-size: 1.5em;
}

/* PSEUDO CLASES
Son estados particulares
que pueden tener elementos que ya tenemos
*/

